body{
    background-image:url('https://c.stocksy.com/a/vHX800/z9/2034587.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

h1{
    color:black;
    text-align:center;
}

h3{
    color:black;
    text-align:center;
}

p{
   font-family:verdana;
   font-size:20px;
}
