body{
    background-image: url('https://i.pinimg.com/1200x/b2/9d/9d/b29d9d7c978a72f5daab30115525246c.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

h1{
    color:black;
    text-align:center;
}

p{
   font-family:verdana;
   font-size:20px;
    text-align:center;
}
